<div class="">
  <section id="scroll-tab-home" class="relative mdl-layout__tab-panel is-active">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col home-card mdl-card mdl-shadow--2dp" id="control-card">
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text"><b>Controle os seus pedidos</b></h4>
        </div>
        <div class="mdl-card__supporting-text">
          Com a nossa solução você ficara por dentro do que acontece em sua loja em tempo real !
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col home-card mdl-card mdl-shadow--2dp" id="payment-card">
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text"><b>Pagamento Online !</b></h4>
        </div>
        <div class="mdl-card__supporting-text">
          Receba os pagamentos através de plataformas seguras como a PagSeguro.
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col home-card mdl-card mdl-shadow--2dp" id="charts-card">
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text"><b>Organize o Faturamento</b></h4>
        </div>
        <div class="mdl-card__supporting-text">
          Integre os seus pedidos e pagamentos em um só lugar e direto no seu google Drive e Sheets !
        </div>
      </div>
    </div>
  </section>
</div>
