<!--
  Copyright 2016 Google, Inc.

  Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for
  additional information regarding copyright ownership. The ASF licenses this
  file to you under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->

<section class="mdl-grid">
  <div id="defaultForm" class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Informações</h2>
    </div>
    <form method="post" action="/orders">
      <div class="mdl-card__supporting-text">
        <!-- <div id="okta-login-container"></div> -->
      </div>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/orders">Cancelar</a>
    </form>
  </div>
</section>

