<div class="">

  <div class="mdl-grid" >
    <div class="mdl-cell mdl-cell--6-col mdl-card  mdl-shadow--2dp" id="privacy-card">
      <div class="mdl-card__title" >
        <h4 class="mdl-card__title-text"><b>Privacidade</b></h4>
      </div>
      <div class="mdl-card__supporting-text">
        Quando o usuário usa nossos serviços, confia a nós informações dele. Esta Política de Privacidade destina-se a ajudar o usuário a entender quais dados coletamos, por que os coletamos e o que fazemos com eles.<br><br>
        Todo os dados compartilhados do google plus ou do google spreadsheets para esse site, serão utilizados exclusivamente para criar a experiência gerada através de nosso site, onde: <br><br>
        - Os dados armazenados (Id, Nome e E-mail), serão utilizados somente para contato, caso necessário. <br>
        - Nenhuma outra informação da sua conta google é armazenada por este webapp <br>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-card  mdl-shadow--2dp" id="privacy-card">
      <div class="mdl-card__title" >
        <h4 class="mdl-card__title-text"><b>Escopos das APIs do Google</b></h4>
      </div>
      <div class="mdl-card__supporting-text">
        Google Sheets API - Scope <a href="https://www.googleapis.com/auth/spreadsheets">https://www.googleapis.com/auth/spreadsheets</a><br>
        1 - Criar planilhas com os dados dos pedidos criados neste webapp<br>
        2 - Apresentar as planilhas criadas somente através desse webapp<br><br>

        Google OAuth2 API -  Scope <a href="https://www.googleapis.com/auth/userinfo.profile">https://www.googleapis.com/auth/userinfo.profile</a><br>
        1 -  Para efetuar o login respeitando os requisitos de autenticação definidos pelo <a href="https://oauth.net/2/">Oauth2.0</a><br>
        2 - Apresentar os dados do perfil do usuário logado, apenas para o usuário (nome, login, e-mail e imagem da conta do google)<br>
        3 - Relacionar o o Id e o e-mail, do usuário logado, com o pedido criado por este webapp<br>

      </div>
    </div>
   <!--  <div class="mdl-cell mdl-cell--4-col mdl-card  mdl-shadow--2dp" id="privacy-card">
      <div class="mdl-card__title" >
        <h4 class="mdl-card__title-text"><b>Dados utilizados</b></h4>
      </div>
      <div class="mdl-card__supporting-text">
        Informações que coletamos <br>
        Google Plus <br>
        - Nome do perfil do usuário <br>
        - e-mail  <br>
        - link da imagem do perfil  <br>
        Permissões que solicitamos
        Google Spreadshet <br>
        - Acesso para criar e alterar novas planilhas autorizadas pelo usuário <br>
        Google Plus <br>
        - Acesso ao perfil básico do google Plus <br>
      </div>
    </div> -->
  </div>

</div>

