<div class="">

  <div class="mdl-grid" >
    <div class="mdl-cell mdl-cell--4-col mdl-card  mdl-shadow--2dp" id="privacy-card">
      <div class="mdl-card__title" >
        <h4 class="mdl-card__title-text"><b>Privacidade</b></h4>
      </div>
      <div class="mdl-card__supporting-text">
        Quando o usuário usa nossos serviços, confia a nós informações dele. Esta Política de Privacidade destina-se a ajudar o usuário a entender quais dados coletamos, por que os coletamos e o que fazemos com eles.
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-card  mdl-shadow--2dp" id="privacy-card">
      <div class="mdl-card__title" >
        <h4 class="mdl-card__title-text"><b>Experiência do Cliente</b></h4>
      </div>
      <div class="mdl-card__supporting-text">
        Todo os dados que são acessados do google plus ou do google spreadsheets, são utilizados exclusivamente para criar a experiência gerada através de nosso site, onde: <br>
        1-  utilizamos os dados do perfil do google para  <br>
        a - Criar planilhas de resumo dos pedidos; <br>
        b - Manter a associação entre planilha e perfil do google plus. <br>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-card  mdl-shadow--2dp" id="privacy-card">
      <div class="mdl-card__title" >
        <h4 class="mdl-card__title-text"><b>Dados utilizados</b></h4>
      </div>
      <div class="mdl-card__supporting-text">
        Informações que coletamos <br>
        Google Plus <br>
        - Nome do perfil do usuário <br>
        - e-mail  <br>
        - link da imagem do perfil  <br>
        Permissões que solicitamos
        Google Spreadshet <br>
        - Acesso para criar e alterar novas planilhas autorizadas pelo usuário <br>
        Google Plus <br>
        - Acesso ao perfil básico do google Plus <br>
      </div>
    </div>
  </div>

</div>

