<div class="mdl-grid ">
  <section id="scroll-tab-Reports" class="ordersPlat-max-width mdl-cell mdl-cell--4-col relative mdl-layout__tab-panel is-active">
    <div class="mdl-list">
      <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content mdl-layout-title">Relatórios</span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" rel="spreadSheet" type="button" href="/spreadsheets">
            Criar
          </button>
        </span>
      </div>
      {{#each spreadsheets}}
      <div class="mdl-list__item">
        <a class="mdl-list__item-primary-content" href="https://docs.google.com/spreadsheets/d/{{id}}/edit" target="_blank">{{name}}
        </a>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--fab mdl-js-ripple-effect" rel="spreadSheet" data-spreadsheetid="{{id}}" type="button" href="/spreadsheets/{{id}}/delete">
            <i class="material-icons">clear</i>
            <span class="visuallyhidden">Remover</span>
          </button>
        </span>
      </div>
      {{/each}}
    </div>
  </section>
</div>
