
Copyright 2016 Google, Inc.

Licensed to the Apache Software Foundation (ASF) under one or more contributor
license agreements. See the NOTICE file distributed with this work for
additional information regarding copyright ownership. The ASF licenses this
file to you under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
*/

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
main {
  padding: 8px;
  padding-top: 24px;
}
h3 a {
  color: white;
  text-decoration: none;
}

h4 a {
  color: white;
  text-decoration: none;
}

.mdl-layout__header-row {
  padding: 0 12px 0 36px;
}
.mdl-layout__header {
  padding-top: 4px;
}

#signOut{
  margin: 0 8px;
}


@media only screen and (min-width: 768px) {
  .mdl-layout__header-row {
    padding: 0 12px 0 36px;
  }

  #signOut{
    margin: 0 20px;
  }

}
.relative {
  position: relative;
}
.block {
  display: block;
}
.order-details {
  border-spacing: 8px;
}
.order-details th {
  text-align: right;
}
.order-actions {
  text-align: center;
}
.mdl-button {
  text-transform: none;
  padding: 0 4px;
}

.error {
  background-color: #d50000;
}

#profile{

}


#defaultForm{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: left;
}

span.google-signin-icon {
  /*src: url('/img/g-logo.png') transparent 5px 50% no-repeat;*/
  background: url('/img/g-logo.png');
  display: inline-block;
  vertical-align: middle;
}
span.google-signin-text {
  display: inline-block;
  vertical-align: middle;
}

/*
#scroll-tab-Pedidos .mdl-button--fab {
position: absolute;
top: -20px;
right: -20px;
z-index: 999;
}*/

#adicPedido {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 999  ;
}

.mdl-demo .mdl-layout__tab-bar-button {
  display: none;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px;
}
.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}

/********************* CENTER **************/
.ordersPlat-max-width {
  max-width: 1000px;
  margin: auto;
}
/*.portfolio-header {
  position: relative;
  background-image: url(images/header-bg.jpg);
  }*/
/*
.portfolio-header .mdl-layout__header-row {
  padding: 0;
  justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
  }*/
/********************* CENTER *************