html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
main {
  padding: 8px;
  padding-top: 16px;
}
h3 a {
  color: white;
  text-decoration: none;
}

h4 a {
  color: white;
  text-decoration: none;
}

footer{
  /*bottom: 0;*/
  /*position: fixed;*/
  width: -webkit-fill-available;
}

.home-card .mdl-card__supporting-text{
  color: black;
}
.home-card .mdl-card__title {
  height: 176px;
}

#control-card .mdl-card__title{
  background: url('../images/cards/dashboard-card.jpeg') center / cover;
}

#payment-card .mdl-card__title{
  background: url('../images/cards/paym-card.jpeg') center / cover;
}
#payment-card .mdl-card__title {
  color: white;
}

#charts-card .mdl-card__title{
  background: url('../images/cards/charts-pexels.jpeg') center / cover;
}


.big-icon{
  font-size: 32px;
}
.mdl-card__title {
  padding: 8px;
}
.radio-update{
  display: inline-grid;
  text-align: -webkit-auto;
  width: auto;
  padding: 10px 0;
}

.mdl-card {
  border-radius: 10px;
}

.mdl-layout__header-row{
  padding: 9px 12px 9px 24px;
}

#signOut{
  margin: 0 8px;
}

#adicPedido {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 24px;
  margin-bottom: 48px;
  z-index: 999  ;
}

@media only screen and (min-width: 768px) {
  /*.mdl-card__supporting-text {
    padding: 24px 0;
    }*/

    .mdl-layout__header-row {
      padding: 0 12px 0 36px;
    }

    #signOut{
      margin: 0 20px;
    }

    #adicPedido {
      margin-right: 40px;
      margin-bottom: 40px;

    }
  }
  .relative {
    position: relative;
  }
  .block {
    display: block;
  }
  .order-details {
    border-spacing: 8px;
  }
  .order-details th {
    text-align: right;
  }
  .order-actions {
    text-align: center;
  }
  .mdl-button {
    text-transform: none;
    padding: 0 4px;
  }

  .error {
    background-color: #d50000;
  }

  #profile{

  }

  #defaultForm{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
  }

  span.google-signin-icon {
    /*background: url('/img/g-logo.png');*/
    display: inline-block;
    vertical-align: middle;
  }
  span.google-signin-text {
    display: inline-block;
    vertical-align: middle;
  }

  .mdl-demo .mdl-layout__tab-bar-button {
    display: none;
  }
  .mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
    display: none;
  }
  .mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
  .mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
    overflow: visible;
  }
  .mdl-demo .mdl-layout__tab-bar-container {
    height: 64px;
  }
  .mdl-demo .mdl-layout__tab-bar {
    padding: 0;
    padding-left: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  .mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
    height: 64px;
    line-height: 64px;
  }
  .mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
    background-color: white;
    height: 4px;
  }

  /********************* CENTER **************/


  .max-width {
    max-width: 1000px;
    margin: auto;
  }
